<div class="d-flex">
  <!-- sidebar -->
  <app-sidebar></app-sidebar>
  <!-- endsidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
        voluptatum. Dignissimos enim eligendi quae quod sunt facilis dolores
        quas voluptate rem temporibus tenetur perferendis eius, aliquid magnam
        autem alias magni.
      </div>
    </div>
  </div>
</div>
